*{
    box-sizing: border-box;
}

@keyframes rgb {
    0% {
        color: red;
        filter: drop-shadow(5px 5px 4px rgb(244, 162, 162));
    }
    14% {
        color: orange;
        filter: drop-shadow(5px 5px 4px rgb(237, 203, 139));
    }
    28% {
        color: yellow;
        filter: drop-shadow(5px 5px 4px rgb(239, 239, 149));
    }
    42% {
        color: green;
        filter: drop-shadow(5px 5px 4px rgb(180, 255, 180));
    }
    57% {
        color: cyan;
        filter: drop-shadow(5px 5px 4px rgb(175, 255, 255));
    }
    71% {
        color: blue;
        filter: drop-shadow(5px 5px 4px rgb(209, 209, 255));
    }
    85% {
        color: violet;
        filter: drop-shadow(5px 5px 4px rgb(249, 214, 249));
    }
    100% {
        color: red;
        filter: drop-shadow(5px 5px 4px rgb(255, 181, 181));
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    10% {
        transform: rotate(20deg);
    }
    20% {
        transform: rotate(-20deg);
    }
    30% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(0);
    }
}

.rgb {
    animation: rgb 5s linear infinite, rotate 1.5s linear infinite;
    margin-right: 10px
}
